@inherits LayoutComponentBase

<PageTitle>QA.app</PageTitle>

<div class="page">
    <main>
        <article class="content px-4">
            stuff goes here.
        </article>
    </main>
</div>
