@inherits ViewAnswerComponentBase

@if(@Answer != null)
{
<!-- START Answer Container -->
<div class="container">
    <div class="row">
        <div class="col-1" style="text-align:center">
            <h1>@Answer.Votes</h1>
        </div>
        <div class="col-8">
            @((MarkupString)Answer.HtmlContent)
        </div>
        <div class="col-2" >
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-1">&nbsp;</div>
        <div class="col-8">
            <p>
                <HxButton Text="+1" Color="ThemeColor.Primary" OnClick="OnUpVoteAnswerAsync" /> &nbsp;
                <HxButton Text="Edit" Color="ThemeColor.Primary" @onclick="OnEdit" /> &nbsp;
            </p>
        </div>
        <div class="col-2 divQuestionAuthor" >
            <b>@((MarkupString)Answer.CreatedBy)</b><br>
            2300
        </div>
    </div>
</div><!-- END ANSWER container -->
<hr>
}