@page "/view-question/{id}"

<PageTitle>Question</PageTitle>

<ViewQuestion />

<div class="container">
    <div class="row">
        <div class="col">
            <h1>7 Answers</h1>
        </div>
    </div>
</div>

<ViewAnswer />
<ViewAnswer />
<ViewAnswer />