@inherits ViewAnswerComponentBase

<!-- START Answer Container -->
<div class="container">
    <div class="row">
        <div class="col-1" style="text-align:center">
            <h1>1</h1>
        </div>
        <div class="col-8">
            <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque blandit diam vehicula eleifend rhoncus. Phasellus suscipit scelerisque ex, eu luctus velit eleifend quis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer sodales orci vel felis facilisis, nec ornare arcu luctus. Nulla facilisi. Integer pharetra lacinia urna ornare vulputate. Etiam faucibus lectus ligula, nec lobortis mi aliquam ac. Aliquam erat volutpat. Nam imperdiet neque lectus, id pretium diam tristique sed. Curabitur lacinia orci non metus eleifend eleifend non non sapien. Nullam sodales tortor pulvinar massa posuere vestibulum. Suspendisse ut auctor arcu. Aenean commodo porta odio, ut interdum metus aliquet vel. Fusce vitae justo et elit luctus facilisis.

Sed dolor tortor, scelerisque eu felis a, euismod vulputate sapien. Morbi vulputate quam ac accumsan tincidunt. Sed viverra velit in malesuada faucibus. Sed faucibus mi vitae mollis feugiat. Maecenas faucibus ac dolor nec fringilla. Sed accumsan orci et turpis sollicitudin, luctus tempor purus egestas. Sed et consequat sapien. Nunc vulputate erat a dolor fermentum, non porttitor massa auctor. Aliquam a rhoncus dolor. Sed posuere placerat nisi, id consectetur ante.

Etiam vestibulum vel quam nec tempus. Pellentesque molestie maximus feugiat. Donec congue odio eget felis lobortis, accumsan pulvinar diam aliquet. Vestibulum vitae lectus ante. Fusce cursus metus ut turpis imperdiet, id placerat elit fermentum. Fusce lacinia ac nibh eget consequat. Cras venenatis massa id urna consequat, nec commodo eros euismod. Curabitur fringilla accumsan erat, quis tincidunt nulla finibus ut.                
            </p>
        </div>
        <div class="col-2" >
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-1">&nbsp;</div>
        <div class="col-8">
            <p>
                <HxButton Text="+1" Color="ThemeColor.Primary" /> &nbsp;
                <HxButton Text="Edit" Color="ThemeColor.Primary" /> &nbsp;
            </p>
        </div>
        <div class="col-2 divQuestionAuthor" >
            <b>Srosario</b><br>
            2300
        </div>
    </div>
</div><!-- END ANSWER container -->
<hr>
