@page "/view-question/{id}"
@inherits ViewQuestionAnswersComponentBase

@if (Question != null)
{
<PageTitle>@Question.Name</PageTitle>
<ViewQuestion Question="Question" />

<div class="container">
    <div class="row">
    <div class="col"><h1>@Answers.Count Answers</h1></div>
    </div>
</div>

@foreach(var answer in Answers){ <ViewAnswer Answer="answer" OnUpVote="OnAnswerUpVote" /> }

}

<hr>

<textarea id="txtRecordContent" @bind="AnswerContent"></textarea>

@if (ValidationFailures.Count > 0)
{
    <ul>
        @foreach (var validationFailure in ValidationFailures)
        {
            <li>@validationFailure</li>
        }
    </ul>
}
<HxButton OnClick="OnSaveAnswerAsync" Color="ThemeColor.Primary">Save Answer</HxButton>
