@inherits QuestionItemComponentBase

<div class="container">
  <div class="row">
    <div class="col-2" style="text-align:center;">
      <h1>@Question.Views</h1>
      views
      <div class="divAnswerCounts">
        <h1>4</h1>
        Answers
      </div>

    </div>
    <div class="col-10">
      <a href="javascript:alert('fix me');"><h1>@Question.Name</h1></a>
      @((MarkupString)Question.Content)
      @Question.Tags
      </p>
    </div>
  </div>
</div>

