@inherits QuestionItemComponentBase

<div class="container">
  <div class="row">
    <div class="col-2" style="text-align:center;">
      <h1>@Question.Views</h1>
      views
      <div class="divAnswerCounts">
        <h1>4</h1>
        Answers
      </div>

    </div>
    <div class="col-10">
      <a @onclick="() => OnItemSelect(Question)"><h1>@Question.Name</h1></a>
      @((MarkupString)Question.HtmlContent)
      @Question.Tags
      
    </div>
  </div>
</div>
<hr>
