@page "/questions"

<HxInputText @bind-Value="@searchText" Placeholder="Enter search"/>
<br><br>
<div class="container">
  <div class="row">
    <div class="col-10">
      <h1>Search Results</h1>
    </div>
    <div class="col-2">
      <HxButton Text="Ask Question" Color="ThemeColor.Primary" />
    </div>
  </div>
</div>
<br><br>
<div class="container">
  <div class="row">
    <div class="col-10">
      <h3>34234 results</h3>
    </div>
    <div class="col-2">&nbsp;
    </div>
  </div>
</div>

<hr>

<QuestionItem />
<QuestionItem />
<QuestionItem />
<QuestionItem />
<QuestionItem />
<HxPager CurrentPageIndex="0" TotalPages="6" />


@code{
    public string searchText = "";
}
